<div class="content_box">
	
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <!-- <%= f.label :username, "USERNAME" %><br />
        <%= f.text_field :username, :placeholder => "YourUsername" %> --> 

  <p><%= f.label :email, "EMAIL" %><br />
  <%= f.email_field :email, :placeholder => "sunshine@happiness.love" %></p>

  <p><%= f.label :password, "PASSWORD" %><br />
  <%= f.password_field :password, :placeholder => "Must be at least 6 characters" %></p>

  <p><%= f.label :password_confirmation, "CONFIRM PASSWORD" %><br />
  <%= f.password_field :password_confirmation, :placeholder => "Must be at least 6 characters"%></p>
	
  <p><%= f.label :phone_number, "PHONE NUMBER" %><br />
  <%= f.telephone_field :phone_number, :placeholder => "415 867 5309"%></p>

  <p><%= f.label :carrier, "CARRIER" %><br />
	<%= f.select :carrier, ["AT&T", "Verizon", "T-Mobile", "Boost"] %>  </p>
	
  <p><%= f.submit "Sign up" %></p>
  <p>By clicking Sign Up you agree to our<br />
	<%= link_to "Terms of Service", layouts_tos_path %>
<% end %>

<%= render :partial => "devise/shared/links" %>

</div>

