<table>
  <tr>
    <th>Alarm Send Time</th>
    <th>Clean Time</th>
    <th>Content</th>
  </tr>
<% @alarms.each do |alarm| %>
  <tr>
    <td><%= alarm.send_time%></td>
    <td><%= alarm.clean_time%></td>
    <td><%= alarm.location %></td>
	<td><%=link_to "delete", :controller => "alert", :action => "kill", :q => alarm.id, :method => "get"%>
  </tr>
<% end %>
</table>


<ul>
  <% for alarm in @alarms %>
    <li class="arrow">
	<%= alarm.send_time -%><%= alarm.clean_time%><%=link_to "delete", :controller => "alert", :action => "kill", :q => alarm.id, :method => "get"%>    </li>
  <% end %>
</ul>

<ul><li class="arrow"><%= link_to "Home", street_index_path %></li></ul>
