<div id="devise_sign-in" class="content_box">

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <p><%= f.label (:username, "USERNAME or EMAIL") %><br />
		  <%= f.text_field :login, :placeholder => "Enter your username/email" %></p>

		  <!-- <p><%= f.label :email %><br />
		  <%= f.email_field :email %></p> -->

		  <p><%= f.label :password, "PASSWORD" %><br />
		  <%= f.password_field :password, :placeholder => "Enter your password" %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>

			<p><%= f.submit "sign in" %></p>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
</div>