<div class="about_image">
	<%= image_tag "dillman-image.png"%>
	<%= image_tag "peter-image.png"%>
	<%= image_tag "dian-image.png"%>
	<%= image_tag "jennifer-image.png"%>
	<%= image_tag "joseles-image.png"%>
	
</div>

<div class="content_box" id="about_box">
	
<p>Thanks for visiting Ticket Cricket. We created this site so that we could stop the onslaught of parking tickets. We're just a few people who wanted to help, so we worked many hours making this site what it is today - with no prior knowledge of how to do it. </p>
	
<h3>A FEW FACTS:</h3>
	
<h4>There are 89 neighborhoods that San Francisco recognizes for street cleaning.</h4>

<h4>In those 89 neighborhoods there are 238 unique cleaning times.</h4>

<h4>With those 238 unique times there are around 1425 streets that use them.</h4>

<p>That is A LOT to remember. So we have Ticket Cricket. Just enter the address where you parked and we will send you a text alert when it is time for you to move your car. It's that easy!
</p>	

</div>