<%= javascript_include_tag :defaults %>

<%= active_scaffold_includes %>
<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" name="viewport" />
 
  <title>Ticket.Cricket</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'mobile' if mobile_device?%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22619120-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<div id="container">
	<body id="body">
		<div id="user_nav">
			<%= link_to image_tag("home_button.gif", :border=>0), street_index_path %>
			<%= link_to "Alerts", alert_show_path %>
			<% if mobile_device? %>
		    	<%= link_to "Full Site", :mobile => 0 %>
		  	<% else %>
		    	<%= link_to "Mobile Site", :mobile => 1 %>
		  	<% end %>
				<div id="user_sign">
					<% if user_signed_in? %>
						<%= link_to "Sign Out", destroy_user_session_path %> | <%= link_to "Edit User", edit_user_registration_path %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %>
					<% end %>
				</div>
		</div>
		<!---<div id="logo">
			
		#</div> -->
	<div id="yield_page">
			<%= yield %>
	</div>
	
	
	<hr style="border-width:0px;margin:0px;" />
	
	<div id="footer">
			All this created by The Dillman and RiverMan 2011
	</div>

	</body>
</div>

</html>

