<%= javascript_include_tag :defaults %>

<%= active_scaffold_includes %>
<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
 
  <title>Ticket.Cricket</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'mobile' if mobile_device?%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22619120-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="body">
<div id="container">
	<body id="body">
		<header id="user_nav">

			<%= link_to "Home", street_index_path %>
			<%= link_to "My Alerts", alert_show_path %>
			<% if mobile_device? %>
		    	<%= link_to "Full Site",street_index_path, :mobile => 0 %>
		  	<% else %>
		    	<%= link_to "Mobile Site", :mobile => 1 %>
		  	<% end %>


				<div id="user_sign">

					<% if user_signed_in? %>
						Signed In as <%= link_to current_user.username.blank? ? current_user.email : current_user.username, edit_user_registration_path %>. Not you?
						<%= link_to "Sign Out", destroy_user_session_path %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %>
					<% end %>
				</div>
		</header>

		<!---<div id="logo">
			
		</div> -->
  <div id="yield_page">
		<%= yield %>
			
  </div> 
		
<!--	<hr style="border-width:0px;margin:0px;" /> -->
	
	<footer align="center" id="footer_nav">		
          <%= link_to "About Us", layouts_about_us_path%>
		
		<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="K5ELFZECZQM66">
		<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
		
		  <%= link_to "Contact Us", feedbacks_new_path %>
		<!-- <%= link_to "Feedback", feedbacks_new_path %> -->
		</ul>
	</footer>

	</body>
</div>

</html>
