<%= javascript_include_tag :defaults %>

<%= active_scaffold_includes %>
<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
 
  <title>Ticket.Cricket</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'mobile' if mobile_device?%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22619120-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body id="body">
<div id="container">
	<body id="body">
		<div id="user_nav">

			<%= link_to "Search", street_index_path %>
			<%= link_to "See All Alarms", alert_show_path %>
			<% if mobile_device? %>
		    	<%= link_to "Full Site", :mobile => 0 %>
		  	<% else %>
		    	<%= link_to "Mobile Site", :mobile => 1 %>
		  	<% end %>


				<div id="user_sign">

					<% if user_signed_in? %>
						Signed In as <%= current_user.username %>. Not you?
						<%= link_to "Sign Out", destroy_user_session_path %> Or <%= link_to "Edit User", edit_user_registration_path %>
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %>
					<% end %>

				<%= link_to "About Us", layouts_about_us_path%>	
				<%= link_to "Contact Us", layouts_contact_us_path %>
				<%= link_to "Feedback", feedbacks_new_path %>
				</div>
		</div>

		<!---<div id="logo">
			
		#</div> -->
	<div id="yield_page">
			<%= yield %>
			
<p>Please help us make this thing better by donating so we can continue our fight to rid the world of un-needed fines!<?p?>			
			
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="K5ELFZECZQM66">
			<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110401-1/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			
	</div>
	
	
	<hr style="border-width:0px;margin:0px;" />
	
	<div id="footer">
			All this created by The Dillman and RiverMan 2011
	</div>

	</body>
</div>

</html>
