<%= javascript_include_tag :defaults %>

<%= active_scaffold_includes %>
<>
<!DOCTYPE html>
<html>
<head>
  <title>Ticket.Cricket</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'mobile' if mobile_device?%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22619120-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<div id="container1">
	<body id="body">
		<div id="user_nav">
			<%= link_to image_tag("home.png", :border => 0), street_index_path %>
			<% if mobile_device? %>
		    	<%= link_to "Full Site", :mobile => 0 %>
		  	<% else %>
		    	<%= link_to image_tag("mobile_site.png", :border => 0), :mobile => 1 %>
		  	<% end %>	
			<div id="user_sign">
				<% if user_signed_in? %>
					Signed In as <%= current_user.username %>. Not you?
					<%= link_to "Sign Out", destroy_user_session_path %> Or <%= link_to "Edit User", edit_user_registration_path %>
				<% else %>
					<%= link_to "Sign Up", new_user_registration_path %> Or <%= link_to "Sign In", new_user_session_path %>
				<% end %>
				<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
			</div>
		</div>
		<!---<div id="logo">
			
		#</div> -->
		<div id="yeild_page">
			<%= yield %>
		</div>
	<hr style="border-width:0px;margin:0px;" />
	<center>
		All this created by The Dillman and RiverMan 2011<b>
		<div id="links">
				<%= link_to "About Us", layouts_about_us_path%>	
				<%= link_to "Contact Us", layouts_contact_us_path %>
				<%= link_to "Feedback", feedbacks_new_path %>
			</div>
	</center>

	</body>
</div>
</html>
